<!-- Sidebar -->
<div id="sidebar" class="blur-background h-full p-4">
  <div class="container mx-auto py-4">
    <div class="sidebar-content w-full flex-col">
      <div class="sidebar-info flex flex-col items-center">
        <h2 class="text-4xl">{{ weather()?.city }} {{ weather()?.country }}</h2>
        <p class="text-xl my-4">
          Max {{ weather()?.temperature_max }}°C / Min {{ weather()?.temperature_min }}°C
        </p>
        <p class="text-xl">{{ weather()?.date | date: 'MMM d, y' }}</p>
        <p class="text-xl">{{ weather()?.time | date: 'HH:mm' }}</p>
        <img [src]="weather()?.iconUrl" [alt]="weather()?.iconUrl" class="w-50 h-50" />
        <p class="text-2xl mb-4">{{ weather()?.clouds }}</p>

        <div class="weather-description flex flex-wrap gap-3 p-4 w-full">
          <div class="humidity blur-description flex-1 min-w-[45%] p-3">
            <div class="weather-content">
              <h3>Humidity</h3>
              <p class="text-3xl">{{ weather()?.humidity }}</p>
            </div>
            <div class="icon text-right">
              <i class="fa-solid fa-temperature-full fa-2x"></i>
            </div>
          </div>
          <div class="pressure blur-description flex-1 min-w-[45%] p-3 flex flex-col">
            <div class="weather-content">
              <h3>Pressure</h3>

              <p class="text-3xl">{{ weather()?.pressure }}</p>
            </div>
            <div class="icon text-right">
              <i class="fa-solid fa-gauge-simple fa-2x"></i>
            </div>
          </div>
          <div class="feels-like blur-description flex-1 min-w-[45%] p-3">
            <div class="weather-content">
              <h3>FeelsLike</h3>
              <p class="text-3xl">{{ weather()?.feelsLike }}</p>
            </div>
            <div class="icon text-right">
              <i class="fa-solid fa-umbrella fa-2x" style="color: white"></i>
            </div>
          </div>
          <div class="wind blur-description flex-1 min-w-[45%] p-3">
            <div class="weather-content">
              <h3>Wind speed</h3>

              <p class="text-3xl">{{ weather()?.windSpeed }}</p>
            </div>
            <div class="icon text-right">
              <i class="fa-solid fa-wind fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
