<div class="SIDEBAR bg-gray-600 h-full">
  <div class="container mx-auto py-4">
    <div class="sidebarContent w-full flex-col">
      <div class="sideBarInfo flex flex-col items-center">
        <h2 class="text-4xl">Bitola, Macedonia</h2>
        <p class="text-3xl">15:30 pm</p>
        <p class="text-2xl">02-08-2026</p>
        <p class="text-1xl">Monday</p>
        <span>Icon</span>
        <p class="text-3xl">10.5 °C</p>
      </div>
      <div class="sideBarDays">
        <p>List of days</p>
      </div>
    </div>
  </div>
</div>
