/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: 'Cascadia Mono', sans-serif;
  background: url('/assets/img/mainBackground.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.BlurBackground {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 25px;
}
