<section class="HEADER">
  <div class="container mx-auto">
    <div class="header-container flex flex-col p-4 w-full">
      <article
        class="cityes w-full flex flex-wrap align-middle md:flex-nowrap items-center gap-4 justify-between"
      >
        <app-city-weather />
        <app-city-weather />
        <app-city-weather />
        <app-city-weather />
      </article>
      <article class="selected-city w-full items-center flex">
        <div class="inputs w-full flex flex-col md:flex-row">
          <div class="dropdown w-full md:w-auto">
            <app-dropdown />
          </div>
          <div class="serach ">
            <input type="text" placeholder="Search" class="text-center w-full p-4" />
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
