<section id="HEADER">
  <div class="container mx-auto">
    <div class="header-container flex flex-col p-4 w-full">
      <article
        class="cityes w-full flex flex-wrap align-middle md:flex-nowrap items-center gap-4 justify-between"
      >
        <!-- @for (city of cities(); track city) {
      <app-city-weather [city]="city" />
     } -->

        <app-city-weather />
      </article>
      <article class="selected-city w-full flex">
        <div class="inputs w-full flex flex-col items-center justify-center md:flex-row gap-6">
          <div class="dropdown w-full flex items-center justify-center align-middle md:w-auto">
            <app-dropdown />
          </div>
          <!-- Here is input  -->
          <app-city-search  />
        </div>
      </article>
    </div>
  </div>
</section>


<!-- (cityFromSearch)="onCityChange($event)" -->